{% extends "jaguareteapp/index.html" %}

{% load static %}
{% block content%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<div class="container__sn">
  <img src="{% static "images/nosotros.jpg" %}" alt="" class=""> 

  <div class="textos__sn">
    <h1>SOBRE NOSOTROS</h1>
    <h5>Somos Jaguarete Kaa, una pequeña empresa de rosario destinada al comercio de las mejores zapatillas, con la mejor calidad y precio que se puede encontrar en la zona, estamos enfocados en brindarte un servicio unico con la mayor atencion a tus pedidos y que el envio sea rapido y seguro, ya que nuestras politicas estan basadas en brindarles la mejor atencion, y si nuestra calidad de producto no es lo que esperaban, estamos a disposicion de hacer una excelente devolucion de la forma mas rapida y simple posible, Muchas gracias por confiar en nosotros.</h5>
  </div>
</div>




{% endblock %}
