{% extends "jaguareteapp/index.html" %}

{% block content %}
{% load static %}
<div class="container_producto">
    <div class="cardd">
        <img src="{% static "images/airmax1.png" %}" alt="" class="card__img"> 

        <!-- <div class="card__content">  -->
             <div class="card__data">
                 <h1 class="card__title">Nike Air Max</h1>
                 <span class="card__preci">$70</span>
                 <p class="card__description">Nike Air Max las zapatillas mas compradas</p>
                 <a href="#" class="card__button">Disponible el proximo mes!</a>
             </div>
        <!-- </div> -->
        
    </div>
    <div class="cardd">
        <img src="{% static "images/JORDAN.png" %}" alt="" class="card__img"> 

        <!-- <div class="card__content">  -->
             <div class="card__data">
                 <h1 class="card__title">Nike Air Jordan</h1>
                 <span class="card__preci">$79</span>
                 <p class="card__description">Nike Air Jordan Zapatillas botitas de coleccion</p>
                 <a href="#" class="card__button">Disponible el otro mes!</a>
             </div>
        <!-- </div> -->
        
    </div>
  
    <div class="cardd">
        <img src="{% static "images/kyrie.png" %}" alt="" class="card__img"> 

        <!-- <div class="card__content">  -->
             <div class="card__data">
                 <h1 class="card__title">Nike Kyrie</h1>
                 <span class="card__preci">$79</span>
                 <p class="card__description">Las zapatillas de basquet de Kyrie al mejor precio</p>
                 <a href="#" class="card__button">Disponible el otro mes!</a>
             </div>
        <!-- </div> -->
        
    </div>
    <div class="cardd">
        <img src="{% static "images/kobe.png" %}" alt="" class="card__img"> 

        <!-- <div class="card__content">  -->
             <div class="card__data">
                 <h1 class="card__title">Nike Kobe</h1>
                 <span class="card__preci">$89</span>
                 <p class="card__description">Las zapatillas de basquet de Kobe al mejor precio</p>
                 <a href="#" class="card__button">Disponible el otro mes!</a>
             </div>
        <!-- </div> -->
        
    </div>
    <div class="cardd">
        <img src="{% static "images/kd.png" %}" alt="" class="card__img"> 

        <!-- <div class="card__content">  -->
             <div class="card__data">
                 <h1 class="card__title">Nike Kevin durant</h1>
                 <span class="card__preci">$92</span>
                 <p class="card__description">Las zapatillas de basquet de Kevin durant al mejor precio</p>
                 <a href="#" class="card__button">Disponible el otro mes!</a>
             </div>
        <!-- </div> -->
        
    </div>
    <div class="cardd">
        <img src="{% static "images/gelyte.png" %}" alt="" class="card__img"> 

        <!-- <div class="card__content">  -->
             <div class="card__data">
                 <h1 class="card__title">Nike Gelyte</h1>
                 <span class="card__preci">$69</span>
                 <p class="card__description">Nike Gelyte comodas para toda ocasion de aventura</p>
                 <a href="#" class="card__button">Disponible el otro mes!</a>
             </div>
        <!-- </div> -->
        
    </div>
    <div class="cardd">
        <img src="{% static "images/finalroshe.png" %}" alt="" class="card__img"> 

        <!-- <div class="card__content">  -->
             <div class="card__data">
                 <h1 class="card__title">Nike Air Jordan</h1>
                 <span class="card__preci">$99</span>
                 <p class="card__description">Nike Air Jordan Footwear basketball sneakers.</p>
                 <a href="#" class="card__button">Disponible el otro mes!</a>
             </div>
        <!-- </div> -->
        
    </div>
    <div class="cardd">
        <img src="{% static "images/balenciaga.png" %}" alt="" class="card__img"> 

        <!-- <div class="card__content">  -->
             <div class="card__data">
                 <h1 class="card__title">Nike Air Jordan</h1>
                 <span class="card__preci">$99</span>
                 <p class="card__description">Nike Air Jordan Footwear basketball sneakers.</p>
                 <a href="#" class="card__button">Disponible el otro mes!</a>
             </div>
        <!-- </div> -->
        
    </div>
    
    
    

</div>
{% endblock %}